on:
  push:
    branches:
      - feature/pip-installable

steps:
- uses: actions/checkout@v2
- name: Set up Python
  uses: actions/setup-python@v2
  with:
    python-version: '3.x'
- name: Install dependencies
  run: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
- name: Test with unittest
  run: |
    coverage run --source=. -m unittest discover tests/ -b
    coverage report